
body{

    background: #2E313B;
    /*background-image: linear-gradient(121deg, rgba(56,82,131,1) 0%, rgba(72,110,158,1) 37%, rgba(104,155,184,1));*/
    margin: 0.8vw;

    color: #303030;
    font-family: "Jost", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    line-height: normal;
}

button{
    
    font-family: "Jost", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
    font-size: 1.6vw;
    margin: .6vw;
    line-height: normal;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

}

[contenteditable] {
  outline: 0px solid transparent;
}

input{
    width: 5vw;
    margin: 1vw;
    margin-bottom: 4vw;
    user-select: none;
    animation: fadeIn 0.6s ease;
}
.card{
    line-height: normal;
    width: 9vw;

    padding-bottom: 10vw;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 0.2vw;
    margin-top: 0vw;
    margin-bottom: -2.2vw;
    user-select: none;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    animation: hexagonRender 0.55s ease;

}



.cardContent {
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    font-size: 1.4vw;
    margin: 0;
    line-break: loose !important;
    position: absolute;
    word-wrap: break-word;
}


.shortContent{
    padding: 0 !important;

    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

.whiteCard{
    background-color: #F6E8E0;
    ;
}

.whiteCard:hover{
    background-color: #CCB9A1;
}

.whiteCard img{
    opacity: 0;
}

.whiteCard:hover img{
    opacity: 0.4;
    animation: fadeIn 0.3s ease;
}

.whiteCardSelected{
    background-color: #CCB9A1;
}

.submissionOrderNumber{
    color: #F6E8E0;

    position: absolute;
    left:0;
    right:0;
    margin-top: 7.4vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8vw;
    font-weight: bold;

}

.whiteCardLocked{
    background-color: #CCB9A1;
}

.redCard{
    background-color: #F7D04D;
    color: #303030;
}

.redCard:hover{
    background-color: #CB823D;
}

.redCardSelected{
    background-color: #CB823D;
}

.redCardLocked{
    background-color: #CB823D;
}

.storedCard{
    background-color: #BECFFF;
}
.storedCard.whiteCardSelected{
    background-color: #4E62A0;
}
.storedCard.whiteCardLocked{
    background-color: #4E62A0;
}
.storedCard:hover{
    background-color: #4E62A0;
}

.namePlate{

    background-color:#F6E8E0;
    margin: 0.5vw;
    height: 9%;
    width: 80%;
    vertical-align: middle;
    /*border-radius: 0.3vw;*/
    overflow-y: hidden;
    user-select: none;
    clip-path: polygon(10% 0, 100% 0, 100% 75%, 90% 100%, 0 100%, 0 25%);
}

.scoreContainer{
   
    height: 100%;
    width: 15%;
   display: inline-block;
    background-color: #CCB9A1;
    user-select: none;
}
.scoreContent{
    color: #303030;
    padding-top: 31%;
    font-size: 2vw;
    text-align: center;
}

.namePlateContent{
    width: 80%;
    height: 100%;
    text-align: center;
    display: inline-block;
    overflow-x: hidden;
    vertical-align: top;
    font-size: 4vw;
    color: #303030;
    /*pointer-events:none;*/

}
.namePlateContent::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.namePlateContent {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.namePlateInput{
    background: transparent;
    width: 80%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    font-size: 2vw;
}

.redCardEditButton{
    height: 1.4vw;
    position: absolute;
    top: 0.6vw;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
    animation: fadeIn 0.3s ease;
}

.redCardEditButton:hover{
    opacity: 1;
}

.storeCardButton{
    height: 1.4vw;
    position: absolute;
    top: 0.6vw;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}
.storeCardButton:hover{
    opacity: 1 !important;
}



.playerIndicator{
    height: 1.4vw;
    margin-top: 3.2vw;
    left: 0.8vw;
    position: absolute;
    opacity: 0.4;
}

.buttonContainer{
    
    margin-left: 25vw;
    position: absolute;
    user-select: none;
}

.candidateCardContainer{

    height: 10.5vw
}

#dropDownContainer{
    overflow-y: auto;
    overflow-x: auto;
    margin-left: 22vw; 
    margin-right: 10vw
}

.candidateCardContainer button{
    color: transparent;
}

.candidateCardContainer:hover button{
    animation: fadeIn 0.3s ease;
    color:#F7D04D
}

#playerButtonContainer{
    margin-top: 28vw;
}

#playerButtonContainer button{
    color:#F6E8E0;
}

#czarButtonContainer{
    margin-top: 18.5vw;
}

#czarButtonContainer button{
    color:#F7D04D;
}

#backButton{
    position:fixed;
    z-index: 99999;
    left: 24vw;
    top: 5vw;
    height: 3vw;
    user-select: none;
}

#nextButton{
    position:fixed;
    z-index: 99999;
    left: 89.9vw;
    top: 5vw;
    height: 3vw;
    user-select: none;
}

#hiddenTestCard{
    visibility: hidden;
    z-index: -999;
    position: absolute;
}

#hiddenTestNameplate{
    visibility: hidden;
    z-index: -999;
    position: absolute;
}

#informationPanel{
    /*background-color: #858585;*/
    border-radius: 0.3vw;
    margin: 0.5vw;
    margin-top: 0vw;
    height: 53vw;
    width: 23.5vw;
    position: absolute;
   
}
#cardCzarNamePlate{
    background-color: #F7D04D;
}

#cardCzarNamePlateContent{
    color: #303030;
}

/*add these later*/
#cardCzarScoreContainer{
    background-color: #CB823D;
}

#cardCzarScoreContent{
    color: #303030;
}


#playerHand{
    margin-left: auto;
    font-size: 0; /* disable white space between inline block element */
    margin-right: 0;
    padding: 0.2vw;
    height: 20.5vw;
    width: 73vw;

}

#playerHand .card:nth-child(n + 9){
    transform: translate(4.7vw);
}


#playTable{
    /*background-color: #858585;*/
    margin-left: auto;
    font-size: 0; /* disable white space between inline block element */

    margin-right: 0;
    border-radius: 0.3vw;
    padding: 0.2vw;
    padding-top: 0.4vw;
    height: 31.3vw;
    width: 72.5vw;
    overflow: hidden;
    margin-bottom: 0.3vw;
    margin-top: 0;
}

#playTable .card:nth-child(n + 8){
    transform: translate(4.7vw);
}


@keyframes fadeIn {
    0% {
        opacity:0
    }

  }

  @keyframes hexagonRender {
    0% {
        opacity: 0;
        left: -10vw;
        clip-path: polygon(10% 0, 10% 0, 10% 10%, 0% 10%, 0 10%, 0 0);
       
    }
    45%{
        clip-path: polygon(10% 0, 10% 0, 10% 10%, 0% 10%, 0 10%, 0 0);
    }
    60% {
        opacity: 1;
        left: 0;
        

    }
    70%{
        /*background-color: #CB823D;*/
    }

}