
body{

    background: #4E576B;
    /*background-image: linear-gradient(121deg, rgba(56,82,131,1) 0%, rgba(72,110,158,1) 37%, rgba(104,155,184,1));*/
    margin: 0.8vw;
    line-height: 1vw;
    color: #303030;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
}

button{
    background-color:#F6E8E0;
    color: #303030;
}

input {
    background: transparent;
    width: 80%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    font-size: 2vw;
}

.card{
    line-height: normal;
    border-radius: 0.3vw;
    width: 10vw;
    padding-bottom: 10vw;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 0.2vw;
    margin-top: 0vw;
    user-select: none;
}


.cardContent {
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    font-size: 1.4vw;
    margin: 0;
    line-break: loose !important;
    position: absolute;
}


.shortContent{
    padding: 0 !important;

    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

.whiteCard{
    background-color: #F6E8E0;
    ;
}

.whiteCard:hover{
    background-color: #CCB9A1;
}

.whiteCardSelected{
    background-color: #CCB9A1;
}

.submissionOrderNumber{
    color: #F6E8E0;
    position: absolute;
    left: 0.5vw;
    top: 0.5vw;
    font-weight: bold;
}

.whiteCardLocked{
    background-color: #CCB9A1;
}

.redCard{
    background-color: #D84B59;
    color: #F6E8E0;
}

.redCard:hover{
    background-color: #904555;
}

.redCardSelected{
    background-color: #904555;
}

.redCardLocked{
    background-color: #904555;
}

.namePlate{
    line-height: normal;
    background-color:#F6E8E0;
    margin: 0.5vw;
    height: 9%;
    width: 80%;
    vertical-align: middle;
    border-radius: 0.3vw;
    overflow-y: hidden;
    user-select: none;
}

.scoreContainer{
   
    height: 100%;
    width: 15%;
   display: inline-block;
    background-color: #CCB9A1;
    user-select: none;
}
.scoreContent{
    color: #303030;
    padding-top: 42%;
    font-size: 2vw;
    text-align: center;
}

.namePlateContent{
    width: 80%;
    height: 100%;
    text-align: center;
    display: inline-block;
    overflow-x: hidden;
    vertical-align: top;
    font-size: 4vw;
    color: #303030;
    /*pointer-events:none;*/

}
.namePlateContent::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.namePlateContent {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#backButton{
    position:fixed;
    z-index: 99999;
    left: 24vw;
    top: 5vw;
    height: 3vw;
    user-select: none;
}

#nextButton{
    position:fixed;
    z-index: 99999;
    left: 89.9vw;
    top: 5vw;
    height: 3vw;
    user-select: none;
}

#hiddenTestCard{
    visibility: hidden;
    z-index: -999;
    position: absolute;
}

#hiddenTestNameplate{
    visibility: hidden;
    z-index: -999;
    position: absolute;
}

#informationPanel{
    /*background-color: #858585;*/
    border-radius: 0.3vw;
    margin: 0.5vw;
    margin-top: 0vw;
    height: 53vw;
    width: 23.5vw;
    position: absolute;
   
}
#cardCzarNamePlate{
    background-color: #D84B59;
}

#cardCzarNamePlateContent{
    color: #F6E8E0;
}

/*add these later*/
#cardCzarScoreContainer{
    background-color: #904555;
}

#cardCzarScoreContent{
    color: #F6E8E0;
}
#buttonContainer{
    margin-top: 54vw;
    position: absolute;
}
#playerHand{
    margin-left: auto;
    margin-right: 0;
    padding: 0.2vw;
    height: 20.5vw;
    width: 73vw;
    overflow: hidden;
}



#playTable{
    /*background-color: #858585;*/
    margin-left: auto;
    margin-right: 0;
    border-radius: 0.3vw;
    padding: 0.2vw;
    padding-top: 0.4vw;
    height: 31.3vw;
    width: 72.5vw;
    overflow: hidden;
    margin-bottom: 0.3vw;
    margin-top: 0;
}

@media only screen and (max-width: 4000px) {
    body {
        line-height: 1vw;
    }
  }
