body{
    background-color: #99C9DE;
    margin: 0.8vw;
    line-height: 1vw;
}

.card{
    line-height: normal;
    border-radius: 0.5vw;
    width: 10vw;
    padding-bottom: 10vw;
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 0.2vw;
    margin-top: 0vw;
    user-select: none;
}

.cardContent {
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    font-size: 1.4vw;
    margin: 0;
    position: absolute;
}


.shortContent{
    padding: 0 !important;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

.whiteCard{
    background-color: white;
    color: black;
}

.redCard{
    background-color: #FF4242;
    color: white;
}

.namePlate{
    line-height: normal;
    background-color:#99C9DE;
    margin: 0.5vw;
    min-height: 9%;
    vertical-align: middle;
    border-radius: 1vw;
    overflow-y: hidden;
    user-select: none;
}
.namePlate::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.namePlate {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.namePlateContent{
    padding-top: 0.2vw;
    padding-left: 0.5vw;
    padding-right: 0.;
    font-size: 4vw;
    color: white;
}

#hiddenTestCard{
    visibility: hidden;
    z-index: -1;
    position: absolute;
}

#informationPanel{
    background-color: #CAE5F3;
    border-radius: 1vw;
    margin: 0.5vw;
    margin-top: 0vw;
    height: 53vw;
    width: 23.5vw;
    position: absolute;
}

#playerHand{
    margin-left: auto;
    margin-right: 0;
    padding: 0.2vw;
    height: 20.5vw;
    width: 73vw;
    overflow: hidden;
}

#testButton{
    /*display: none*/
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

#playTable{
    background-color: #CAE5F3;
    margin-left: auto;
    margin-right: 0;
    border-radius: 0.5vw;
    padding: 0.2vw;
    padding-top: 0.4vw;
    height: 31.3vw;
    width: 72.5vw;
    overflow: hidden;
    margin-bottom: 0.3vw;
    margin-top: 0;
}

@media only screen and (max-width: 4000px) {
    body {
        line-height: 1vw;
    }
  }
